/*Paul Parker, homework.css created 2/5/2017*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    background-image: url("../images/week2-1banner.jpg");
    color: white;
    text-shadow: -2px 2px #1A5476;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    font-weight: bold;
}

.navbar-inverse {
    background-color: #623e5e;
}

/*product table*/
.product-table tbody td.cell-data {
    text-align: center;
}

.product-table thead th {
    text-align: center;
}

.product-table caption {
    font-size: 14px;
    vertical-align: top;
}

.product-table td {
    padding-left: 5px;
    padding-right: 5px;
}

/*highlights used product thumbnail names*/
.thumbnail.used h2 {
    color: #c0a16b;
}

/*hides element*/
.hidden {
    display: none;
}

/*style columns based on configuration. targets the first div of the first div for the given configuration*/
.configuration-1 > div > div {
    background-color: #bac4d7;
}
.configuration-2 > div > div {
    background-color: #d1c0d7;
}
.configuration-3 > div > div {
    background-color: #c4d7c9;
}

/*price styles*/
.price:not(.retail-price) {
    font-weight: bold;
}

.price.retail-price {
    font-style: italic;
    text-decoration: line-through;
    color: red;
}

/*table values*/
.Value {
    margin-left: 5px;
}

/*icons*/

.like {
    color: red;
    font-size: 14px;
}

.like::before {
    content: '\2665';
}
