@import "weaponDie.component";

.character-form {

  .character-sheet {
    margin: 0 10px;
    padding: 10px;
    background-color: $defaultBackground;
    border-bottom: 2px solid $borderColor;

    .character-inventory {
      width: 100%;
    }

    .content-block {
      display: flex;

      .content-item-double {
        flex-grow: 2;
      }
    }

    .inventory-controls {
      margin-bottom: 5px;
    }

    .stat-block {
      margin: 5px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .stat-name, .stat-mod {
        min-width: 40px;
      }

      .stat-name {
        text-align: right;
        padding-right: 5px;
      }

      .stat-mod {
        text-align: left;
        padding-left: 5px;
      }
    }
  }
}
