//region Base Colors

$addColor: #6fc042;
$buttonColor: #989898;
$confirmButtonColor: #45719d;
$defaultBackground: #ebebeb;
$defaultTextColor: #2e2d39;
$errorColor: #ff5735;
$modalBackground: white;
$shadowColor: #d4d4d4;

//endregion

//region Derived Colors

$borderColor: darken($defaultBackground, 10);
$removeColor: $errorColor;
$mutedText: lighten($defaultTextColor, 20);

//endregion
