@import "colors";

form {

  .form-inputs {
    text-align: right;
    padding: 5px;
    margin: 5px;

    button {
      margin-right: 5px;
      background-color: $buttonColor;
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    button[type=submit] {
      background-color: $confirmButtonColor;
    }
  }

  input {

    &[type=text], &[type=number] {
      padding: 5px 7px;
      display: inline-block;
      border: 1px solid $borderColor;
      box-sizing: border-box;

      &.ng-invalid {

        background-color: $errorColor;
      }
    }
  }
}