form {

  @mixin inputStyles() {
    padding: 7px 10px 5px 10px;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $borderColor;
    box-sizing: border-box;
  }

  .phrase {
    margin: auto 5px;
  }

  .form-inputs {
    text-align: right;
    padding: 5px;
    margin: 5px;
  }

  .last-updated {
    font-size: 0.7rem;
    margin-right: 5px;
    color: $mutedText;
  }

  input:not([type=checkbox]) {
    @include inputStyles();

    &.xshort-text {
      max-width: 70px;
    }

    &.short-text {
      max-width: 90px;
    }

    &.med-text {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.ng-invalid {
      background-color: $errorColor;
    }
  }

  select {
    @include inputStyles();
  }
}