
.table {
  display: table;

  .table-row {
    display: table-row;

    .table-cell, .table-header {
      display: table-cell;
      padding: 3px 5px 3px 3px;
    }
  }

  .table-caption {
    display: table-caption;
  }
}