button {
  margin-right: 5px;
  background-color: #989898;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #d2d2d2; }
  button.add-btn {
    background-color: #6fc042;
    font-size: 1.2rem; }
  button.remove-btn {
    background-color: #ff5735; }
  button:not([type=button]), button.confirm-btn {
    background-color: #45719d; }

.die-results-container {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #d4d4d4 0 3px 2px 1px;
  background-color: white; }
  .die-results-container .die-roll-options {
    text-align: right; }

.character-form .character-sheet {
  margin: 0 10px;
  padding: 10px;
  background-color: #ebebeb;
  border-bottom: 2px solid #d2d2d2; }
  .character-form .character-sheet .character-inventory {
    width: 100%; }
  .character-form .character-sheet .content-block {
    display: flex; }
    .character-form .character-sheet .content-block .content-item-double {
      flex-grow: 2; }
  .character-form .character-sheet .inventory-controls {
    margin-bottom: 5px; }
  .character-form .character-sheet .stat-block {
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .character-form .character-sheet .stat-block .stat-name, .character-form .character-sheet .stat-block .stat-mod {
      min-width: 40px; }
    .character-form .character-sheet .stat-block .stat-name {
      text-align: right;
      padding-right: 5px; }
    .character-form .character-sheet .stat-block .stat-mod {
      text-align: left;
      padding-left: 5px; }

form .phrase {
  margin: auto 5px; }
form .form-inputs {
  text-align: right;
  padding: 5px;
  margin: 5px; }
form .last-updated {
  font-size: 0.7rem;
  margin-right: 5px;
  color: #5c5a72; }
form input:not([type=checkbox]) {
  padding: 7px 10px 5px 10px;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d2d2d2;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  form input:not([type=checkbox]).xshort-text {
    max-width: 70px; }
  form input:not([type=checkbox]).short-text {
    max-width: 90px; }
  form input:not([type=checkbox]).med-text {
    width: 100%; }
  form input:not([type=checkbox]).ng-invalid {
    background-color: #ff5735; }
form select {
  padding: 7px 10px 5px 10px;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d2d2d2;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.table {
  display: table; }
  .table .table-header-group {
    display: table-header-group; }
  .table .table-row {
    display: table-row; }
    .table .table-row .table-cell, .table .table-row .table-header {
      display: table-cell;
      padding: 3px 5px 3px 3px; }
      .table .table-row .table-cell.fill, .table .table-row .table-header.fill {
        width: 100%; }
      .table .table-row .table-cell.empty-table, .table .table-row .table-header.empty-table {
        font-style: italic;
        font-size: 0.7rem;
        color: #454456; }
  .table .table-caption {
    display: table-caption; }

* {
  color: #2e2d39; }

/*# sourceMappingURL=app.css.map */
